nav ul{
    margin-left: 10%;
}
.logoname{
    margin-top: 1%;
}
.section01{
    background-image: url(bistarito-images/bistarito-back.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}
.section01 .title01 h3{
    color: white;
    text-align: center;
    padding-top: 2%;
}
.section01 .title01 p{
    color: white;
    padding-top: 1%;
    text-align: center;
}

/* cards err design */

.card{
    margin: auto;
    height: 380px;
}
.card-body{
    text-align: center;
}
.card-body p{
    font-size: 14px;
    text-align: justify;


}
.card-body a{
    color: white;
    text-align: center;
    background-color: #242B2E;
    text-decoration: none;
    padding: 10px 22%;
    font-size: 15px;
    border-radius: 10px;
    
}
.card-body a:hover{
    color: aliceblue;
    background:#1C8D73;
}


.section03{
    display: none;
}

.section02{
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url(gifbc/fotter.gif);
    background-position: center;
    
}
.section02 .last{
    position: absolute;
    top: 50;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: white;

}






































@media only screen and (max-width: 700px){
    .col-md-3 .card {
        margin: 20px auto;
        height: 650px;
    }
}

@media only screen and (max-width: 500px){
    .col-md-3 .card {
        margin: 20px auto;
        height: 490px;

        
    }
    .section02{
        display: none;
    }
    .section03{
        display: block;
        height: 300px;
        background-image: url(gifbc/body.gif);
        color: white;
      
    }
    .section03 .main01{
       text-align: center;
       padding-top: 200px;
    
    }
}
@media only screen and (max-width: 400px){
    .col-md-3 .card {
        margin: 20px auto;
        height: 417px;
    }
}








