
nav ul{
    margin-left: 10%;
}
.logoname{
    margin-top: 1%;
}
.bdren{
    background-color: #bdc3c7;
}



.sectio01{
    background: #bdc3c7;
    padding-bottom: 10px;
    text-align: center;
}

.tableSection{
    background: #bdc3c7;
}
input{
    text-align: center;
}

table{
    text-align: center;
    margin-top: 4px;
}
.add-number{
    text-align: center;
    margin-top: 20px;
}
.add-number p{
    text-align: center;
}
.add-number a{
    text-decoration: none;
    color: white;
    background: #f1c40f;
    padding: 5px 15px;
    margin-left: 10px;
     transition: all 0.4s;
     border-radius: 13px;
     display: flex;
     flex-direction: column;
}

.add-number a:hover{
    background: #f39c12;
   color: white;
   box-shadow: 10px 1px 10px #f1c40f;
   transform: scale(100.90%);
}


@media only screen and (max-width: 500px)
{
.add-number a{
    margin-left: 0%;
    text-align: center;
}

.add-number p{
    font-size: 13px;
    text-align: justify;
}

}







/* for table searching */

input{
    width: 100%;
}

table td{
    border: 1px solid grey;
}

.tableSection{
    padding-bottom: 30px;
}

.footer-section{
    width: 100%;
    height: 40vh;
    background-color: #bdc3c7;
    text-align: center;
    color: grey;
    position: relative;
}

.last009{
    position: absolute;
    top: 50;
    bottom: 0;
    left: 0;
    right: 0;
}

