nav ul{
    margin-left: 10%;
}
.logoname{
    margin-top: 1%;
}




.fotter-last{
    border: 1px solid black;
    height: 400px;
    background-color: #95a5a6;
    color: white;
    text-align: center;
    position: relative;
}
.fotter-last .lasting01{
    position: absolute;
    top: 50;
    left: 0;
    right: 0;
    bottom: 0;

}

.fotter-last h2{
    letter-spacing: 5px;
font-family: 'Times New Roman', Times, serif;
font-size: 25px;
padding-bottom: 30px;


}

.fotter-last p{
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif;
}



.row01{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   

}

.row02{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
}
.row03{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
}






/* media csss codes */
@media only screen and (max-width: 500px){
  
}


/* mobile aria er css shuru akhan theke */

